$family-comfortaa: 'Comfortaa';

// COMFORTAA
@font-face {
  font-family: $family-comfortaa;
  src: url('../assets/fonts/Comfortaa/Comfortaa-Light.ttf') format('truetype');
}
@font-face {
  font-family: $family-comfortaa;
  src: url('../assets/fonts/Comfortaa/Comfortaa-Bold.ttf') format('truetype');
}
@font-face {
  font-family: $family-comfortaa;
  src: url('../assets/fonts/Comfortaa/Comfortaa-Medium.ttf') format('truetype');
}
